/* Réinitialisation de base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
    --color-gray-1: #333;;
    --color-gray-2: #6c757d;
    --secondary-1: #3F814E;
    --secondary-2: rgb(2, 39, 65);
    --color-primary: #00B7F1;
    --color-white-1: #fff;
    --color-white-2: #e9e9e9;
    --color-black: #000204;
    --color-black-1: #292a2c;
}

body {
  font-family: Arial, sans-serif;
  color: var(--color-gray-1);
  line-height: 1.6;
  list-style: none;
}

#app-container {
  min-height: 100vh;
  overflow-x: hidden;
}

.container-struct {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container {
    background: rgba(2, 39, 65, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white-1);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

.navbar-logo {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}


.navbar-menu {
    position: relative; /* Référence pour les sous-menus */
  }
  
.navbar-menu ul {
    display: flex;
    gap: 60px;
  }
  
.navbar-menu ul li a {
    color: var(--color-white-1);
    text-decoration: none;
    font-size: 16px;
  }
  
.navbar-menu ul li a:hover {
    color: var(--color-primary);
    text-decoration: underline;
    transition: all 1s;
  }

/* Conteneur principal */
.navbar-items-right {
  display: flex;
  align-items: center; /* Centre verticalement tous les enfants */
  padding: 10px; /* Ajustez selon vos besoins */
}

/* Drapeau */
.flag {
  width: 27px;
  margin: 10px;
}

/* Liste des items */
.navbar-items ul {
  display: flex;
  align-items: center; /* Centre verticalement les éléments dans la liste */
  gap: 15px; /* Espacement entre les éléments */
  list-style: none; /* Supprime les puces de la liste */
  margin: 0;
  padding: 0;
}

/* Liens */
.navbar-button-link {
  text-decoration: none; /* Supprime le soulignement */
  color: var(--color-white-1);
  font-size: 14px; /* Taille de police */
  display: inline-block; /* Pour une meilleure stylisation */
}

.navbar-button-link:hover {
  text-decoration: underline; /* Ajoute un soulignement au survol */
  transition: all 1s;
}

/* Bouton */
.navbar-button {
  background: var(--secondary-1);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-white-1);
  border: none;
  border-radius: 25px;
  transition: background 0.3s ease, color 0.3s ease;
}

.navbar-button:hover {
  background: var(--color-primary);
  color: var(--color-white-1);
  transition: all 1s;
}

.button-down {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Positionner à droite */
    padding: 0px;
    position: absolute;
    width: auto; /* Ajustement automatique de la largeur */
    right: 7px;
    top: 100%; /* Juste sous la barre de navigation */
    background-color: var(--color-white-1);
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.button-down ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button-down ul li {
    margin-bottom: 10px; /* Espacement entre les boutons */
}

.button-down ul li:last-child {
    margin-bottom: 0; /* Pas d'espacement pour le dernier élément */
}

.button-down ul li a {
    text-decoration: none;
    display: flex;
    align-items: center; /* Alignement des images et textes */
    gap: 10px; /* Espace entre l'image et le texte */
    padding: 5px;
}

.button-down ul li a img {
    width: 25px;
    height: 25px;
    flex-shrink: 0; /* Empêche l'image de se redimensionner */
}

.button-down ul li a span {
    color: var(--color-black);
    font-size: 14px; /* Taille ajustée */
    white-space: nowrap; /* Empêche le débordement */
    overflow: hidden; /* Cache le texte dépassant si nécessaire */
    text-overflow: ellipsis; /* Ajoute "..." pour les textes trop longs */
}

.button-down {
    display: none; /* Masque la div par défaut */
}
.button-down.active {
    display: flex; /* Affiche la div lorsqu'elle a la classe "active" */
}

/* ------------ Button language ------- */
.button-language-down {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Positionner à droite */
    padding: 0px;
    position: absolute;
    width: auto; /* Ajustement automatique de la largeur */
    right: 140px;
    top: 100%; /* Juste sous la barre de navigation */
    background-color: var(--color-white-1);
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.button-language-down ul {
    padding: 0;
    margin: 0;
}

.button-language-down ul li {
    margin-bottom: 10px; /* Espacement entre les boutons */
}

.button-language-down ul li:last-child {
    margin-bottom: 0; /* Pas d'espacement pour le dernier élément */
}

.button-language-down ul li a {
    text-decoration: none;
    display: flex;
    align-items: center; /* Alignement des images et textes */
    gap: 10px; /* Espace entre l'image et le texte */
    padding: 5px;
}

/* Dimensions pour l'image du drapeau français */
.fr-btn {
    width: 30px; /* Largeur spécifique au drapeau français */
    height: 20px; /* Hauteur spécifique au drapeau français */
    flex-shrink: 0; /* Empêche le redimensionnement */
}

/* Dimensions pour l'image du drapeau américain */
.us-btn {
    width: 30px; /* Largeur spécifique au drapeau américain */
    height: 37px; /* Hauteur spécifique au drapeau américain */
    flex-shrink: 0; /* Empêche le redimensionnement */
}


.button-content {
    display: flex;
    align-items: center; /* Aligne l'image et le texte verticalement */
    gap: 10px; /* Espace entre l'image et le texte */
}

/* Ajustement des spans */
.button-language-down ul li a span {
    color: var(--color-black);
    font-size: 14px;
    line-height: 30px; /* Ajusté pour correspondre à la hauteur des images */
    white-space: nowrap; /* Empêche le débordement */
    overflow: hidden; /* Cache le texte dépassant si nécessaire */
    text-overflow: ellipsis; /* Ajoute "..." pour les textes trop longs */
}

.button-content:hover span {
    text-decoration: underline;
}

.button-language-down {
    display: none; /* Masque la div par défaut */
}
.button-language-down.active {
    display: flex; /* Affiche la div lorsqu'elle a la classe "active" */
}

/* ------ Sous-menus -------------------- */
.navbar-sous-menu-container {
    display: none; /* Caché par défaut */
    position: absolute;
    top: 100%; /* Aligner le sous-menu juste en dessous de la barre principale */
    left: 50%; /* Positionner le sous-menu au centre */
    transform: translateX(-50%); /* Centrer précisément via translation */
    z-index: 10;
    background: linear-gradient(
        274.71deg,
        rgba(4, 69, 116, 0) 1.99%,
        rgba(6, 144, 242, 0.616) 144.19%
      );
    width: 100%; /* Ajustement automatique à la largeur du contenu */
    padding: 10px 20px; /* Espacement interne */
    border-bottom: 2px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sous-menu ul {
    display: flex;
    gap: 20px; /* Espacement entre les éléments */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut */
    list-style: none; /* Supprime les puces */
    transform: translateX(-20%); /* Décale le contenu vers la gauche */
}

.sous-menu ul li a {
    color: var(--color-white-1);
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
}

.sous-menu ul li a:hover {
    color: var(--color-primary);
    transition: all 1s;
}

.sous-menu {
    display: none; /* Par défaut, les menus sont cachés */
}

.sous-menu.active {
    display: block; /* Le menu actif est visible */
}

/*---------------------Conteneur principal pour la ligne et le message */
.header-container {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments */
    gap: 20px; /* Espacement entre la ligne et le contenu */
    position: absolute;
    left: 109px;
    top: 257px;
    z-index: 10;
  }
  
  /* Ligne verticale */
  .line-left-header {
    width: 0px; /* Ligne verticale */
    height: 210px; /* Hauteur ajustable selon vos besoins */
    border: 1px solid --color-white-1;
    opacity: 0.5;
  }
  
  /* Section des messages */
  .header-msg {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    align-items: flex-start; /* Aligne les éléments à gauche */
    gap: 20px;
  }
  
  /* Liste des messages */
  .header-msg ul {
    margin: 0;
    padding: 0;
  }
  
  .header-msg ul li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--color-white-1);
  }
  
  /* Bouton */
  .header-button {
    font-size: 16px;
    cursor: pointer;
    color: var(--color-white-1);
    background: transparent; /* Fond transparent */
    border: 1px solid --color-white-1; /* Bordure solide */
    border-radius: 500px; /* Bords arrondis */
    width: 255px;
    height: 48px;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .header-button:hover {
    background: var(--color-primary);
    color: var(--color-white-1);
    border: none;
  }

  /* --------Slides------------------*/
.slide-container {
   
    position: absolute;
    width: 100%;
    height: 595px;
    top: 0;
    background: linear-gradient(
        274.71deg,
        rgba(2, 39, 65, 0) 1.99%,
        rgba(2, 39, 65, 0.4) 144.19%
      );
    background-size: cover;
    background-position: 50% 32%;
    overflow: hidden;
  }
  
  /* Carrousel */
  .slide-container {
    position: absolute;
    width: 100%;
    height: 595px;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  /* Cacher les images non actives */
  .slides img:not(.active) {
    display: none;
    opacity: 1;
  }
  
  
  span.next, span.prev {
      position: absolute;
      top: 55%;
      transform: translateY(-50%);
      padding: 10px 20px; /* Ajustez le padding pour une taille raisonnable */
      color: var(--secondary-1);
      font-size: 24px;
      font-weight: bold;
      transition: 0.5s;
      border-radius: 3px;
      user-select: none;
      cursor: pointer;
      z-index: 1;
  }
  
  span.next {
      right: 20px;
  }
  span.prev {
      left: 20px;
  }
  
  span.next:hover, span.prev:hover {
      background-color: var(--secondary-1);
      opacity: 0.8;
      color: var(--color-white-1);
  }
  
  .dotsContainer{
      position: absolute;
      bottom: -150px;
      z-index: 3;
      left: 50%;
      transform: translateX(-50%);
  }
  
  .dotsContainer .dot{
  width: 20px;
  height: 20px;
  margin: 200px 7px;
  border: 3px solid #3F814E;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .dotsContainer .active{
      background-color: var(--secondary-1);
  }

  @keyframes next {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes prev {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
  
  