<body>
   <div id="app-container">
        <div class="container-struct">
            <nav class="navbar-container">
                <div class="navbar-logo">Logo</div>
                <div class="navbar-menu">
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Planifiez votre voyage</a></li>
                        <li><a href="#">Nos offres</a></li>
                        <li><a href="#">Activités à faire</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">A propos</a></li>
                    </ul>
                </div>
                <div class="navbar-items-right">
                    <img class="flag" src="img/icons/Fr-flag.jpg" alt="drapeau-france">
                    <div  class="navbar-items">
                        <ul>
                            <li><a href="#" class="navbar-button-link">Français - FR</a></li>
                            <li><a href="#" class="navbar-button-link">
                                <button class="navbar-button">Se Connecter</button></a>
                            </li>
                        </ul>
                    </div>
                    <div class="button-down">
                        <ul>
                            <li><a href="#">
                                <div class="button-content">
                                    <img src="img/icons/connect.png" alt="connect pic">
                                    <span>Se Connecter</span>
                                </div></a>
                            </li>
                            <li><a href="#">
                                <div class="button-content">
                                    <img src="img/icons/create-account.png" alt="create account pic">
                                    <span>Créer mon compte</span>
                                </div></a>
                            </li>
                        </ul>
                    </div>
                    <div class="button-language-down">
                        <ul>
                            <li><a href="#">
                                <div class="button-content">
                                    <img class="fr-btn" src="img/icons/Fr-flag.jpg" alt="France flag">
                                    <span>Français - FR</span>
                                </div></a>
                            </li>
                            <li><a href="#">
                                <div class="button-content">
                                    <img class="us-btn" src="img/icons/US-flag.png" alt="Us flag">
                                    <span>English - EN</span>
                                </div></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
   </div>
</body>