<body>
    <div class="header-container">
        <div class="line-left-header"></div>
        <div class="header-msg">
            <ul>
                <li>BIENVENUE CHEZ DIOSSO</li>
                <li>TOURISME</li>
            </ul>
            <a href="#" class="header-button-link">
                <button class="header-button">DEMANDER UN DEVIS</button>
            </a>
        </div>
    </div>
    <div class="slide-container">
        <div class="slides">
            <img src="img/slides/img-1.jpg" alt="zebra-picture" class="active">
            <img src="img/slides/img-2.jpg" alt="elephant-picture">
            <img src="img/slides/img-3.jpg" alt="gazelle-picture">
            <img src="img/slides/img-4.jpg" alt="gorilla-picture">
            <img src="img/slides/img-5.jpg" alt="fire-wood-picture">
            <img src="img/slides/img-6.jpg" alt="canoe-picture">
        </div>
        <div class="buttons">
            <span class="next">&#10095;</span>
            <span class="prev">&#10094;</span>
        </div>
        <div class="dotsContainer">
            <div class="dot active" data-id="0"></div>
            <div class="dot" data-id="1"></div>
            <div class="dot" data-id="2"></div>
            <div class="dot" data-id="3"></div>
            <div class="dot" data-id="4"></div>
            <div class="dot" data-id="5"></div>
    </div>
</div>
</body>